#jwt pub and priv keys
SSL_KEY_PATH=
SSL_CERT_PATH=

JWT_PUBLIC_KEY_PATH=
JWT_PRIVATE_KEY_PATH=

INTRA_CLIENT_ID=
INTRA_CLIENT_SECRET=

# auth db
AUTH_DB_NAME=
AUTH_DB_USER=
AUTH_DB_PASS=

# marketplace db
MARKET_DB_NAME=
MARKET_DB_USER=
MARKET_DB_PASS=

# chat db
CHAT_DB_NAME=
CHAT_DB_USER=
CHAT_DB_PASS=

# analytic db
ANALYTICS_DB_NAME=
ANALYTICS_DB_USER=
ANALYTICS_DB_PASS=

# admin db
ADMIN_DB_NAME=
ADMIN_DB_USER=
ADMIN_DB_PASS=

# redis
REDIS_URL=
REDIS_PASS=

# db
POSTGRES_USER=
POSTGRES_PASSWORD=
# gf
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASS=