microservices_architecture.md
ft_transcendence.pdf

# dependencies
node_modules/
.pnp
.pnp.js

# testing and coverage
coverage/

# production builds
dist/
build/
.next/
out/
.vercel/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
*.local
services/auth/.env
# caches
.eslintcache
.stylelintcache
.npm/
.yarn/

# editors
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#certs
certs/
docs/
/tree.txt
/tests.md
Leetconnect Sign In.png
Leetconnect Sign Up.png
userContext.md